@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="text-white">&nbsp;Cars List MVC&nbsp;</h2>
</div>
<br/>
<div class="d-flex justify-content-lg-start">
    <div class="p-3 border rounded">
        <p class="text-white fs-5">This is an example of a simple ASP .NET Core application that fetches car information from MongoDB.</p>
    </div>
</div>